langchain
langchain-community
langchain-core
langchain-deepseek
langchain-moonshot
langgraph
langgraph-checkpoint-postgres
numpy
torch
pgvector
psycopg[binary,pool]
pydantic
python-dotenv
pyyaml
qwen-tts
requests
PyJWT[crypto]
sentence-transformers
sounddevice

httpx
fastapi
uvicorn
